<!DOCTYPE html>
<html>
<head>
    <title>Mi Sitio Web</title>
    <style>
        /* Estilos para el header */
        header {
            background-color: #27ae60;
            color: #fff;
            padding: 20px;
        }

        /* Estilos para los enlaces de navegación */
        header a {
            color: #fff;
            margin-right: 10px;
            text-decoration: none;
        }

        /* Estilos para el contenido */
        main {
            margin: 20px;
        }
    </style>
</head>
<body>
    <header>
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/carrito">Carrito</a>
        <a href="/contacto">Contacto</a>
        <a href="/logout">LogOut</a>
    </header>
    <main>
        <!-- Aquí va el contenido de la página -->
        <h1>Bienvenido a mi sitio web</h1>
        <p>¡Gracias por visitarnos!</p>
    </main>
</body>
</html>
