<!DOCTYPE html>
<html>
<head>
  <title>Not Found</title>
  <link rel="stylesheet" href="../public/css/notFound.css"> <!-- Enlaza el archivo de estilos CSS -->
</head>
<body>
  <h1>Error 404: Página no encontrada</h1>
  <p>Lo sentimos, la página que estás buscando no ha sido encontrada.</p>
</body>
</html>
