<!DOCTYPE html>
<html>
<head>
    <title>Su Pedido</title>
    <!-- Enlace a la hoja de estilos de Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <h1 class="text-center">¡Gracias por su Pedido, <%= usuario.username %>!</h1>
        <p class="text-center">Estaremos en contacto con usted respecto a su compra.</p>
        <h2 class="text-center">Productos Pedidos:</h2>
        <ul class="list-group mx-auto" style="max-width: 400px;">
            <% productos.forEach((producto) => { %>
                <li class="list-group-item">
                    <span><%= producto.nombre %></span>
                    <p><%= producto.descripcion %></p> <!-- Descripción del producto -->
                </li>
            <% }); %>
        </ul>
        <div class="text-center mt-3"> <!-- Div contenedor para centrar el botón -->
            <a href="/api/productos" class="btn btn-primary">Regresar</a> <!-- Botón de regreso centrado -->
        </div>
    </div>
</body>
</html>
