<!DOCTYPE html>
<html>

<head>
    <title>Ver Carrito</title>
    <!-- Enlaces a los estilos de Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-12 text-right">
                <!-- Bot贸n de ver lista -->
                <form method="get" action="/api/productos">
                    <button type="submit" class="btn btn-info mt-4 mr-2">Ver Lista</button>
                </form>
                <!-- Bot贸n de cerrar sesi贸n -->
                <form method="get" action="/logout">
                    <button type="submit" class="btn btn-danger mt-4">Cerrar sesi贸n</button>
                </form>
            </div>
        </div>
        <h1 class="mb-4">Carrito de Compras</h1>
        <div class="row">
            <div class="col-md-12">
                <% if (productos.length > 0) { %>
                    <ul class="list-group">
                        <% productos.forEach((producto)=> { %>
                            <li class="list-group-item">
                                <%= producto.nombre %>
                            </li>
                        <% }); %>
                    </ul>
                    <form method="post" action="/api/pedido">
                        <button type="submit" class="btn btn-primary mt-3">Solicitar Pedido</button>
                    </form>
                <% } else { %>
                    <p>No hay productos en el carrito.</p>
                <% } %>
            </div>
        </div>
    </div>

    <!-- Enlaces a los scripts de Bootstrap y jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>
