<!DOCTYPE html>
<html>
<head>
  <title>Fail Register</title>
  <!-- Agrega enlaces CSS de Bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
  <div class="container mt-5">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <h1 class="text-center">Fail Register</h1>
        <p class="text-center">¡El registro ha fallado! Por favor, verifica tus datos e intenta nuevamente.</p>
        <div class="text-center">
          <a href="/register" class="btn btn-primary">Volver a Registrarse</a>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Agrega enlaces JS de Bootstrap -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.9/dist/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
