<!DOCTYPE html>
<html>
<head>
  <title>Fail Register</title>
</head>
<body>
  <h1>Fail Register</h1>
  <p>¡El registro ha fallado! Por favor, verifica tus datos e intenta nuevamente.</p>
</body>
</html>
